<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Utopia</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
<!--Header-->

  <header>
    <img class="logo" src="/images/logo.jpg">
  
  <!--Navigation-->
    <nav>
 
     {{#if loggedIn }}
    
    <ul class="nav-links"></ul>
      <li><a href="/">Home</a> </li>
      <li><a href="/">Personal Info</a></li>
      <li><a href="/">Settings</a></li>
      <li><button class="logout-btn">Logout</button></li>
<!--Matt, when button is clicked, it should end the session and redirect to main-->

    {{else}}

    <ul class="nav-links"></ul>
    <li><a href="</">Home</a></li>
    <li><a href="/views/partials/login.handlebars">Login</a></li>

    {{/if}}

    </nav>
  </header>
  
  <main>
    <div class="welcome">
      <h2>Welcome to Utopia!</h2>
      <h3>Where all your culinary dreams come true!</h3>
    </div>

    <div class="homepage">
      {{{body}}}
    </div>
  </main>

<script src="/javascript/login.js"></script>

</body>

<footer>
      <h3>
        UTOPIA PROJECT 2
      </h3>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
</footer>

</html>
