
<!--{{#each event as |event|}}
{{> event-contain}}
{{/each}}-->

    <!-- Body -->
    <main>
      <!-- Sidebar
      <aside>
        <h2>Welcome to Utopia!</h2>
        <p>Your one-stop-shop culinary experience. From tastings to events, creating an account means you'll have access to some of the world's finest dining experiences.</p>
      </aside>-->
      <!-- Product Cards -->
      <div class="products">
        <section class="card">
          <header><a href="frenchfood.html">French Food</a></header>
          <img src="./images/french-food.jpg" alt="black camera" />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni</p>
          <a class="cta" href="frenchfood.html"><button>Learn More</button></a>
        </section>
        <section class="card">
          <header>Indian Food</header>
          <img src="./images/indian-food.jpg" alt="tablet held in hands" />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni</p>
          <a class="cta" href="#"><button>Learn More</button></a>
        </section>
        <section class="card">
          <header>Spanish Food</header>
          <img
            src="./images/spanish-food.jpg"
            alt="rolls of toilet paper in a basket"
          />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni</p>
          <a class="cta" href="#"><button>Learn More</button></a>
        </section>
        <section class="card">
          <header>Japanese Food</header>
          <img
            src="./images/japanese-food.jpg"
            alt="4 wooden spoons with different seasonings"
          />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni</p>
          <a class="cta" href="#"><button>Learn More</button></a>
        </section>
      </div>
    </main>

    <!-- Footer -->
    <footer>
      <h3>
        UTOPIA PROJECT 2
      </h3>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>

  </body>
</html>