<section class="card">
  
  <!--links to culture page using the culture ID -->

  <a href="//{{id}}">

<!-- culture event name as the card header -->
    
<header>{{event_title}}</header>

<!-- Event and Full Description -->

<div class="card-body">
    <img src="/images/{{filename}}">
</div>

<div>
    <a href="//{{event_description}}"></a>
</div>

<!--RSVP Button-->

<div>
    <button>RSVP</button>
</div>

</a>
</section>

