* {
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

li, a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    position: relative;
    top: 0;
    left: 0;
    width: 85%;
    height: 50px;
    background-color:blue;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.nav__links {
    list-style:none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

body{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


footer{
    position: relative;
}